[Unit]
Description=SumoLogic Log Collector
After=network.target auditd.service

[Service]
Environment="JIRA_HOME={{ jira.home }}"
Environment="JAVA_HOME=/usr/lib/java"
ExecStartPre=cd {{ sumologic.prefix }}/sumocollector/logs
ExecStart={{ sumologic.prefix }}/sumocollector/collector start
ExecStop={{ sumologic.prefix }}/sumocollector/collector stop
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
PIDFile={{ sumologic.prefix }}/sumocollector/collector.pid
Type=forking

[Install]
WantedBy=multi-user.target
Alias=sumologic.service
